
obnasanje_na_detektorju/macro_primerjavaphi.C
popravek_pozicije_aero_gel_plosc/cherenkov_vs_phi_angle/macro_theta_vs_phi.C
popravek_pozicije_aero_gel_plosc/cherenkov_vs_phitrk_angle/macro_theta_vs_phitrk.C
popravek_pozicije_aero_gel_plosc/detPhotexpPhot/macro_detPhot.C
popravek_pozicije_aero_gel_plosc/detPhotexpPhot/macro_detPhotexpPhot.C
popravek_pozicije_aero_gel_plosc/detPhotexpPhot/macro_expPhot.C
popravek_pozicije_aero_gel_plosc/distribution_cerphotons/macro_distribution_cerphotons.C
popravek_pozicije_aero_gel_plosc/distribution_cerphotons/script_distrib_photons.C
popravek_pozicije_aero_gel_plosc/primerjava_ex_sim/macro_primerjava_filtered.C
